* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.navbar {
    display: flex;
    padding: 0 1rem 0 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    background: #0f172a;
    color: white;
}

.nav_links {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    list-style: none;
}

.nav_links li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.logo {
    text-transform: uppercase;
}


