* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.navbar {
    display: flex;
    padding: 0 1rem 0 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    background: #0f172a;
    color: white;
}

.nav_links {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    list-style: none;
}

.nav_links li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.logo {
    text-transform: uppercase;
}

.title {
    position: absolute;
    top: 10%;
    left: 8%;
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 10px black;
    z-index: 30;
    opacity: 0.6;
}

.img3 {
    object-position: center 80%;
}

.carousel_container {
    position: relative;
    max-width: 1500px;
    margin: 20px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel_item {
    min-width: 100%;
    position: relative;
}

.carousel_item img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    display: block;
}

.carousel_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: wheat;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    z-index: 10;
}

.carousel_btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev_btn {
    left: 10px;
}

.next_btn {
    right: 10px;
}

.content_indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background 0.3s;

}

.indicator:active {
    background-color: white;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 60px 20px;
}

.benefits {
    background: #0f172a;
    color: #fff;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.section-subtitle {
    font-size: 2rem;
    color: #cbd5f5;
    margin-bottom: 50px;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.benefit-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 30px 20px;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.benefit-card:hover {
    transform: translateY(-8px) scale(1.02);
    background: rgba(255, 255, 255, 0.08);
}

.icon {
    font-size: 2rem;
    margin-bottom: 15px;
}

.benefit-card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.benefit-card p {
    font-size: 1.5rem;
    color: #cbd5f5;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }
}

.title_popular{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.card_popular {
    padding: 60px 20px;
    background: #0f172a;
    color: white;
    text-align: center;
}

.title_popular {
    font-size: 2.2rem;
    margin-bottom: 40px;
}

